@model IEnumerable<CuriosityCup.Models.Subject>

@{
    ViewData["Title"] = "Subjects";
}
    <div class="text-center  pt-4">
        <h1 class="display-4">Subjects to Explore!</h1>
        @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
            {
                <p><a asp-action="Create">Create New</a></p>
            }
        }

        <div class="text-center pt-lg-5">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col lg-square-btn-container">
                        <a class="subject-link" asp-controller="Lessons" asp-action="LessonsBySubject" asp-route-id="@item.Id">
                            <div class="btn btn-outline-info btn-subject">@Html.DisplayFor(modelItem => item.SubjectName)</div>
                        </a>
                    </div>
                }
            </div>
        </div>

    </div>


@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <div class="flex-lg-row">
                    <a asp-controller="Lessons" asp-action="LessonsBySubject" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.SubjectName)</a>
                </div>
                <tr>
                    <td>
                        <a asp-controller="Lessons" asp-action="LessonsBySubject" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.SubjectName)</a>
                    </td>
                    <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                </tr>
            }
        </tbody>
    </table>*@
