@model CuriosityCup.Models.Lesson

@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <div class="toast-header">
        <h4 class="display-4">@Html.DisplayFor(model => model.Title)</h4>
        <h6>@Html.DisplayFor(model => model.Teacher.Email)</h6>
    </div>
    <hr />
    <div class="flex-column">
        <div class="">
            <iframe src="@Model.Video" frameborder="0" allowtransparency="false" allowFullScreen="allowFullScreen"></iframe>
        </div>
        <div class="">
            @Html.DisplayFor(model => model.SectionDescription)
        </div>
        <div class="">
            @Html.DisplayFor(model => model.Subject.SubjectName)
        </div>
    </div>
</div>



<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
        {
            <a class="text-info" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span> |</span>
        }
    }
    <a asp-controller="Lessons" asp-action="LessonsBySubject" asp-route-id="@Model.SubjectId">Back to List</a>
</div>
