@model IEnumerable<CuriosityCup.Models.Lesson>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
}
@foreach (var item in Model)
{
    <div class="container bg-primary">
        <div class="row">
            <div class="col">
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
            </div>
        </div>
    </div>
    <div class="row text-center">
        @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
            {
                <div class="col">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span> |</span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            }
        }
    </div>
    <br />
}
<table class="table">
    @*<thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Video)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SectionDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
            </tr>
        </thead>*@
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="clickable-row()">
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span> |</span> <br />
                        }
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
                        {
                            <span> |</span> <br />
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
